<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="leon">
	<title>{{.Name}}</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/swiper.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>
<body background="http://oz6l8jt3v.bkt.clouddn.com/bg.jpg?imageslim">
	{{if not .CanModify}}
	<div class="photo-cover">
			<h2>{{.Desc}}</h2>
			<p><small>继续浏览会消耗一定流量，请确保网络顺畅</small></p>
			<button type="button" class="btn btn-default btn-lg" onclick="startPhoto()">进入</button>
	</div>
	{{end}}

	{{if .CanModify}}
	<nav class="navbar navbar-default">
		<button type="button" class="btn btn-default navbar-btn"
			data-toggle="modal" data-target="#editPhoto" data-photo-id="0">添加照片</button>
	</nav>
	{{end}}

	{{if not .CanModify}}
	<div id="audioPlay">
		<span class="glyphicon glyphicon-play" aria-hidden="true" onclick="musicPlay(true)"></span>
		<span class="glyphicon glyphicon-pause hidden" aria-hidden="true" onclick="musicPlay(false)"></span>
		<audio id="musicId" loop preload="auto" src="http://oz6l8jt3v.bkt.clouddn.com/%E9%9A%BE%E5%BF%B5%E7%9A%84%E7%BB%8F.mp3"></audio>
	</div>
	<!-- <audio id="musicid" src="http://oz6l8jt3v.bkt.clouddn.com/%E9%9A%BE%E5%BF%B5%E7%9A%84%E7%BB%8F.mp3" autoplay="autoplay"></audio> -->
	{{end}}

	{{$CanModify := .CanModify}}
	{{if .CanModify}}
	<div class="swiper-container swiper-container-vertical big-img-box">
	{{else}}
	<div class="swiper-container swiper-container-vertical big-img-box hidden">
	{{end}}
		<div class="swiper-wrapper">
			{{range $i, $_ := .PhotoList}}
			<div class="swiper-slide">
				{{if $CanModify}}
				<button class="btn btn-default" type="button"
					data-toggle="modal" data-target="#editPhoto" data-photo-id={{.Id}}>修改</button>
				{{end}}
				<img src="{{.Image}}?imageView2/2/h/1024" alt="图片丢失了" />
				<h3 id="imgDesc{{$i}}" class="text-center text-info">{{.Desc}}</h3>
			</div>
			{{end}}
		</div>
	</div>

	<div class="modal fade" id="editPhoto" tabindex="-1" role="dialog" aria-labelledby="editPhotoLabel">
		{{template "edit-photo"}}
	</div>

	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/plupload.full.min.js"></script>
	<script src="/js/qiniu.min.js"></script>
	<script src="/js/swiper.jquery.min.js"></script>
	<script src="/laydate/laydate.js"></script>
	<script src="js/photo.js"></script>
</body>
</html>
